@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navBarStyle {
  padding: 10px 30px;
  background-color: #259db7;
  font-size: 1.1rem;
}
.navBarStyle .container-fluid a .logo {
  width: 120px;
}
.navBarStyle .container-fluid .togglerMenu {
  border: 3px solid #004254;
  border-radius: 10px;
}
.navBarStyle .container-fluid .togglerContrast {
  border: 4px solid white;
  color: white;
  background-color: white;
}
.navBarStyle .container-fluid div ul .nav-item {
  margin: 0 0.3rem;
  font-weight: bold;
}
.navBarStyle .container-fluid div ul .nav-item .nav-link {
  color: white;
}
.navBarStyle .container-fluid div ul .nav-item .nav-link:hover {
  color: white;
  text-decoration: underline;
}

.main {
  background-color: #004254;
}
.main .mainHomeTitle {
  text-align: center;
  font-size: 2rem;
  padding: 5.5rem 0;
  color: white;
}
.main .mainHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .mainHome div article .pContainer {
  padding: 0 2rem;
  width: 100%;
}
.main .mainHome div article .pContainer p {
  color: white;
}
.main .mainHome div article .buttonMain {
  margin: 2rem 0;
  padding: 0.3rem 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #004254;
  border-radius: 10px;
  border-color: white;
}
.main .mainHome div .mainVideoButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .mainHome div .mainVideoButtons div .video1 {
  width: 100%;
  height: 432px;
  max-width: 732px;
}
.main .mainHome div .mainVideoButtons .buttonVideoContainer .donacionesBtn, .main .mainHome div .mainVideoButtons .buttonVideoContainer .convocatoriaBtn {
  color: white;
  font-weight: bold;
  background-color: #00849e;
  border: 2px solid #00849e;
  border-radius: 8px;
}
.main .mainHome div .mainVideoButtons .buttonVideoContainer .convocatoriaBtn {
  color: #00849e;
  background-color: transparent;
}

.sectionFestival {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(193, 28, 112, 0.6)), to(rgba(0, 132, 158, 0.6)));
  background: linear-gradient(180deg, rgba(193, 28, 112, 0.6) 0%, rgba(0, 132, 158, 0.6) 100%);
  background-color: #004254;
  overflow: hidden;
}
.sectionFestival .squareContainer {
  position: absolute;
}
.sectionFestival .squareContainer .square {
  background: #004254;
  color: #004254;
  width: 1.5rem;
  height: 1.5rem;
}
.sectionFestival .titleFestival {
  color: white;
  font-size: 2rem;
  padding-bottom: 3rem;
  font-weight: bold;
  text-align: left;
}
.sectionFestival .nextFestival {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionFestival .nextFestival .video2 {
  width: 100%;
}
.sectionFestival .nextFestival .festivalDescription {
  background-color: #004254;
}
.sectionFestival .nextFestival .festivalDescription .festivalText {
  font-size: 1.15rem;
  color: white;
  font-weight: bold;
  text-align: center;
}
.sectionFestival .nextFestival .festivalDescription .buttonDescription {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #04809a;
  border: 2px solid #04809a;
  border-radius: 8px;
}

.redesContainer {
  background-color: #004254;
}
.redesContainer .row {
  max-width: 100%;
}
.redesContainer .row div a .iconSocial {
  width: 4rem;
}

.carouselSection {
  background-color: #04809a;
}
.carouselSection .swiper {
  width: 100%;
}
.carouselSection .swiper .swiper-button-next,
.carouselSection .swiper .swiper-button-prev {
  color: white;
}
.carouselSection .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: white;
}

.avalesSection {
  background-color: #004254;
  padding: 6rem 0;
}

.footer {
  background-color: #673354;
  padding: 3rem 0;
}
.footer .buttonFooter {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #04809a;
  border: 2px solid #04809a;
  border-radius: 8px;
  margin-right: 2rem;
}
.footer .logowhite {
  width: 120px;
}

@media (min-width: 1100px) {
  .navBarStyle {
    padding: 15px 60px;
  }
}
@media (min-width: 1270px) {
  .navBarStyle {
    padding: 15px 96px;
  }
  .navBarStyle .container-fluid a .logo {
    width: 202px;
  }
}
@media (min-width: 1100px) {
  .main .mainHome {
    padding: 0 2rem;
  }
  .redesContainer .row div a .iconSocial {
    width: 4.7rem;
  }
  .square {
    width: 2rem !important;
    height: 2rem !important;
  }
}
@media (min-width: 900px) {
  .footer .logowhite {
    width: 202px;
    margin-right: 12rem;
  }
}
* {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.buttonMainOn {
  -webkit-filter: invert(85%);
          filter: invert(85%);
}

.highContrast {
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
}/*# sourceMappingURL=main.css.map */