main {
    background-color: $blue;
    padding-bottom: 5rem;

    .convocatoria {
        height: 100%;

        .titleConvocatoriaDiv {
            display: flex;
            padding-bottom: 1rem;
            // width: 100%;
            margin-left: 20rem;
            padding: 2rem 0rem;

            .titleConvocatoria {
                color: white;
            }
        }

        .convocatoriaBases {
            height: 100%;
            width: 60%;
            background-color: white;
            border-radius: 10px;
            padding-bottom: 3rem;

            div {
                .titleBases {
                    margin-left: 3rem;
                    padding-top: 1.5rem;
                }

                .parrafoBases {
                    margin-left: 3rem;
                    border-bottom: 2px solid #c11c70;
                    margin-right: 3rem;
                    color: #c11c70;
                }

                .itemBasesTitle {
                    padding-top: 1rem;
                    margin-left: 3rem;
                }

                .itemBasesParrafo {
                    margin-left: 3rem;

                    .infoSpan {
                        color: #c11c70;
                    }
                }

                

                .seccionesParrafos1 {
                    margin-left: 4rem;
                    border-left: 3px solid #8cc63f;
                    margin-bottom: 2rem;
                    

                    p {
                        margin-left: 0.5rem;
                    }
                }

                .seccionesParrafos2 {
                    margin-left: 4rem;
                    border-left: 3px solid #c11c70;
                    margin-bottom: 2rem;

                    p {
                        margin-left: 0.5rem;
                        
                    }
                }

                .seccionesParrafos3 {
                    margin-left: 4rem;
                    border-left: 3px solid #07abcb;
                    margin-bottom: 2rem;

                    p {
                        margin-left: 0.5rem;
                        
                    }
                }

                .seccionesParrafos4 {
                    margin-left: 4rem;
                    border-left: 3px solid #f8c014;
                    margin-bottom: 2rem;

                    p {
                        margin-left: 0.5rem;
                        
                    }
                }

                .seccionesParrafos5 {
                    margin-left: 4rem;
                    border-left: 3px solid #673354;
                    margin-bottom: 2rem;

                    p {
                        margin-left: 0.5rem;
                        
                    }
                }

                .seccionesParrafos6 {
                    margin-left: 4rem;
                    border-left: 3px solid #004254;
                    margin-bottom: 2rem;

                    p {
                        margin-left: 0.5rem;
                        
                    }
                }
            }
        }
    }

    .seccionSuerte {
        border: 2px solid #C11C70;
        border-radius: 5px;
        width: 80%;
        margin: auto;
        margin-top: 2rem;

        .seccionSuerteParrafo {
            color: #C11C70;
            text-align: center;
            padding-top: 1rem;
        }
    }

    .buttonConvocatoriaDiv {
        display: flex;
        justify-content: end;
        margin-left: 2.2rem;

        .linksButtons {
            text-decoration: none;

            .buttonConvocatoria {
                padding: 0rem 1.6rem;
                background-color: #c11c70;
                color: white;
                font-weight: bold;
                border: 1px solid #c11c70;
                border-radius: 10px;
                margin-right: 6rem;
                margin-left: 2rem;
                margin-top: 2rem;
                display: flex;
                align-items: center;
                gap: 0.7rem;

                p {
                    margin-top: 1rem;
                }
            }

            .buttonConvocatoria2 {
                padding: 0rem 2.7rem;
                background-color: transparent;
                color: #c11c70;
                font-weight: bold;
                border: 1px solid #c11c70;
                border-radius: 10px;
                margin-top: 2rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                p {
                    margin-top: 1rem;
                }
            }
        }
    }
}
