.footer {
    background-color: #673354;
    padding: 3rem 0;

    .buttonFooter {
        color: white;
        font-weight: bold;
        padding: 0.5rem 1rem;
        background-color: #04809a;
        border: 2px solid #04809a;
        border-radius: 8px;
        margin-right: 2rem;
    }

    .logowhite {
        width: 120px
    }
}