.main {
    background-color: $blue;
    padding: 3rem 0;

    .mainHome {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            article {
                .pContainer {
                    padding: 2rem;
                    width: 60%;
                    margin: auto;

                    p {
                        color: white;
                    }
                }

                .buttonsDiv {
                    padding: 2rem;

                    .buttonVideoContainer {
    
                        .donacionesBtn {
                            color: white;
                            font-weight: bold;
                            background-color: $light-blue;
                            border: 2px solid $light-blue;
                            border-radius: 8px;
                            padding: 0.313rem 2.188rem;
                        }
    
                        .convocatoriaBtn {
                            @extend .donacionesBtn;
                            color: $light-blue;
                            background-color: transparent;
                        }
    
                    }
                }

                .mainHomeTitle {
                    text-align: center;
                    font-size: 2.25rem;
                    padding: 2rem 0;
                    color: white;
                }

                .buttonMain {
                    margin: 2rem 0;
                    padding: 0.3rem 1rem;
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: $blue;
                    border-radius: 10px;
                    border-color: white;
                }
            }

        }
    }
}

.sectionFestival {
    position: relative;
    background: linear-gradient(180deg, rgba(193, 28, 112, 0.6) 0%, rgba(0, 132, 158, 0.6) 100%);
    background-color: $blue;
    overflow: hidden;

    .squareContainer {
        position: absolute;

        .square {
            background: $blue;
            color: $blue;
            width: 1.5rem;
            height: 1.5rem;
        }
    }


    .nextFestival {
        display: flex;
        flex-direction: column;
        align-items: center;


        .titleFestivalDiv {

            display: flex;
            padding-bottom: 1rem;
            width: 100%;

            .titleFestival {
                color: white;
                font-size: 2.25rem;
                font-weight: bold;

            }
        }

        .imgMask {
            width: 100%;
            z-index: 111;
        }

        .festivalDescription {
            background-color: #004254;

            .festivalText {
                color: white;
                font-weight: bold;
                text-align: left;
            }

            .buttonDescription {
                color: white;
                font-weight: bold;
                padding: 0.5rem 1rem;
                background-color: #04809a;
                border: 2px solid #04809a;
                border-radius: 8px;
            }
        }
    }
}

.redesContainer {
    background-color: #004254;

    .row {
        max-width: 100%;

        div {
            a {
                .iconSocial {
                    width: 11rem;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

.carouselSection {
    background-color: #04809a;

    .swiper {

        width: 100%;
        margin-bottom: 2rem;

        .swiper-button-next,
        .swiper-button-prev {
            background-color: #F8C014;
            padding: 1.8rem;
            border-radius: 50%;
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                background-color: white;
            }
        }
    }

    .carouselDiv {
        .imgSlides {
            width: 55rem;
            height: 100%;
        }
    }
}

.avalesSection {
    background-color: #004254;
    padding: 1rem 0;

    .avalesTitle {
        color: #F8C014;
        margin-bottom: 5rem;
    }

    .avalesDiv {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        gap: 2rem;
        

        .tecnoDiv {

            margin-right: 40rem;
            margin-bottom: 10rem;
            position: relative;


            .base-image {
                position: absolute;
                transition: opacity 0.3s ease-in-out;
            }

            .base-image:hover {
                opacity: 0;
            }

            .hover-image {
                position: absolute;
                opacity: 0;

                transition: opacity 0.3s ease-in-out;
            }

            .hover-image:hover {
                opacity: 1;

            }
        }

        div {

            .espanaDiv {
                position: relative;
                margin-right: 45rem;
                margin-bottom: 8rem;

                .base-image {
                    position: absolute;
                    transition: opacity 0.3s ease-in-out;
                }

                .base-image:hover {
                    opacity: 0;
                }

                .hover-image {
                    position: absolute;
                    opacity: 0;

                    transition: opacity 0.3s ease-in-out;
                }

                .hover-image:hover {
                    opacity: 1;

                }
            }
        }

    }
}