.navBarStyle {
    padding: 10px 30px;
    background-color: #259db7;
    font-size: 1.1rem;

    .container-fluid {
        a {
            .logo {
                width: 120px;
            }
        }

        .togglerMenu {
            border: 3px solid #004254;
            border-radius: 10px;
        }

        .togglerContrast {
            border: 4px solid white;
            color: white;
            background-color: white;
        }

        .buttonsAcc {
            margin-left: 8rem;

            .buttonMain {
                margin: 2rem 0;
                padding: 0rem 0.8rem;
                font-size: 1.3rem;
                font-weight: bold;
                color: $blue;
                border-radius: 10px;
                border-color: white;
            }
        }

        div {
            ul {
                .nav-item {
                    margin: 0 0.3rem;
                    font-weight: bold;

                    .nav-link {
                        color: white;
                    }

                    .nav-link:hover {
                        color: white;
                        text-decoration: underline;
                    }
                }


            }
        }
    }

}