.navBarStyle {
    padding: 10px 30px;
    background-color: #259db7;
    font-size: 1rem;

    .container-fluid {
        a {
            .logo {
                width: 120px;
            }
        }

        .togglerMenu {
            border: 3px solid #004254;
            border-radius: 10px;
        }

        .togglerContrast {
            border: 4px solid white;
            color: white;
            background-color: white;
        }

        div {
            ul {
                .nav-item {
                    margin: 0 0.3rem;
                    font-weight: bold;
                    margin: 0 0.7rem;

                    .nav-link {
                        color: white;
                        position: relative;
                        padding: 0.1rem 0;
                        

                        &:hover {
                            color: #004254;
                        }
                    }

                    .active {
                        border-bottom: 2px solid white;
                        padding: 0.1rem 0;
                        
                    }
                }
            }
        }
    }

    .Toastify__toast-theme--colored.Toastify__toast--error {
        background: #F8C014;
        color: black;
    }
}