@media (min-width: 1100px) {
    .main {
        .mainHome {
            padding: 0 2rem;
        }
    }

    .redesContainer {
        .row {
            div {
                a {
                    .iconSocial {
                        width: 4.7rem;
                    }
                }
            }
        }
    }

    .square {
        width: 2rem !important;
        height: 2rem !important;
    }
}

@media (width <=768px) {
    .main {
        .mainHome {
            div {
                .mainVideoButtons {
                    div {
                        margin: 0;
                    }
                }
            }
        }


    }
}