@media (min-width: 1100px) {
    .navBarStyle {
        padding: 15px 60px
    }
}

@media (min-width: 1270px) {
    .navBarStyle {
        padding: 15px 96px;

        .container-fluid {
            a {
                .logo {
                    width: 202px;
                }
            }
        }
    }
}

@media (width <= 768px) {
    .navBarStyle {
        .container-fluid {


            .buttonsAcc {
                margin: 0;
            }
        }
    }
}