@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */

.logo {
    width: 120px;
}

.togglerMenu {
    border: 3px solid #004254;
    border-radius: 10px;
}

.navBarStyle {
    padding: 10px 30px;
    background-color: #04809a;
    font-size: 1.1rem;
}


.nav-item {
    margin: 0 0.3rem;
    font-weight: bold;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

/* FIN NAVBAR */

.main {
    background-color: #004254;
}

.mainHomeTitle {
    text-align: center;
    font-size: 2rem;
    padding: 5.5rem 0;
    color: white;
}

.mainHome {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainHome p {
    font-size: 1rem;
    color: white;
}

.pContainer {
    padding: 0 2rem;
}

.video1 {
    width: 100%;
    height: 432px;
    max-width: 732px;
}

.buttonMain {
    margin: 2rem 1rem;
    padding: 0.3rem 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #004254;
    border-radius: 5px 5px 5px 5px;
    border-color: white;
}

.mainVideoButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonVideoContainer {
    display: flex;
    gap: 3rem;
}

.buttonVideo {
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #04809a;
    border: 2px solid #04809a;
    border-radius: 8px;
}

.sectionFestival {
    background: linear-gradient(180deg, rgba(132, 0, 68, 0.744) 0%, rgba(0, 132, 158, 0.6) 100%);
    padding-bottom: 5rem;
}

.titleFestival {
    color: white;
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.nextFestival {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.video2 {
    width: 100%;
    height: 432px;
    max-width: 732px;
}

.buttonDescription {
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: #04809a;
    border: 2px solid #04809a;
    border-radius: 8px;
    margin-right: 2rem;
}

.festivalText {
    font-size: 1.15rem;
    color: white;
    margin-left: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.8rem;
}

.redesContainer {
    background-color: #004254;
}

.iconSocial {
    width: 4rem;
}

/* MEDIA QUERIES */

@media (min-width: 1100px) {
    .navBarStyle {
        padding: 15px 60px;
    }

    .mainHome {
        padding: 0 2rem;
    }

    .iconSocial {
        width: 4.7rem;
    }
}

@media (min-width: 1270px) {
    .logo {
        width: 202px;
    }

    .navBarStyle {
        padding: 15px 96px;
    }

}