* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./partials/reset";
@import "./partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@import "./partials/_navbar.scss";
@import "./partials/_home.scss";
@import "./partials/buttonsAcc.scss";
@import "./partials/_convocatoria.scss";
@import "./partials/quienesSomos.scss";
@import "./partials/_footer.scss";
@import "./mediasQueries/_navbar.scss";
@import "./mediasQueries/_home.scss";
@import "./mediasQueries/_quienesSomos.scss";
@import "./mediasQueries/footer.scss";
@import "./partials/general.scss";